.cookies {
    width: 100%;
    position: absolute;
    background: white;
    z-index: 10;
}
.cookies-container {
    margin: auto;
    max-width: 800px;
    margin: auto;
    padding: 10px 0;
}
.flex-container {
    display: flex;
}
.cookie-description {
    text-align: left;
    margin: 0 10px;
}
.cookie-description .custom{
    cursor: pointer;
}
.cookie-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.btn-container {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}
.cookie-btn {
    color: rgba(157, 0, 58, 0.9);
    border-width: 0px;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 8px 20px;
    margin:  0 5px;
    background: rgb(239, 239, 239);
}
.cookie-btn:hover {
    background-color: rgb(227 227 227);
}