<div class="inner-margin-separator">
  <div class="row sub-heading-text-1-margin">
    <div class="col-xs-1 col-xxs"></div>
    <div class="col-xs-10 col-xxs">
      <div class="text-center sub-heading-text-1 custom text-color pad-bottom inner-margin-separator">
        <div id="appSubHeadingOne">{{ 'appointment.subHeadingOne' | translate }}</div>
      </div>
    </div>
    <div class="col-xs-1 col-xxs"></div>
  </div>
  
  <div class="appointment-row text-center " *ngIf="!isNotFound">    
      <span class="sub-heading-text-2 custom text-color sub-heading-text-2-margin">{{ 'appointment.subHeadingTwo' | translate }}</span>    
  </div>
  <div class="appointment-container" *ngIf="!isNotFound">
  <div class="appointment-row">
    <div class="col-xs-6 col-xxs" [ngClass]="{'col-rtl': isRtl}">
      <div class="custom">
        <div class="appointment-label" [ngClass]="{'appointment-label-rtl': isRtl, 'appointment-label': !isRtl}">{{'appointment.branch' | translate}}</div>
      </div>
    </div>
    <div class="col-xs-6 col-xxs" [ngClass]="{'col-rtl': isRtl}">
      <div class="custom">
        <div  class="appointment-data" [ngClass]="{'appointment-data-rtl': isRtl, 'appointment-data': !isRtl}">{{ app.branchName }}</div>
      </div>
    </div>
  </div>
  <div class="appointment-row">
    <div class="col-xs-6 col-xxs" [ngClass]="{'col-rtl': isRtl}">
      <div class="custom">
        <div class="appointment-label" [ngClass]="{'appointment-label-rtl': isRtl, 'appointment-label': !isRtl}">{{'appointment.service' | translate}}</div>
      </div>
    </div>
    <div class="col-xs-6 col-xxs" [ngClass]="{'col-rtl': isRtl}">
      <div class="custom">
        <div class="appointment-data" [ngClass]="{'appointment-data-rtl': isRtl, 'appointment-data': !isRtl}">{{ app.serviceName }}</div>
      </div>
    </div>
  </div>
  <div class="appointment-row">
    <div class="col-xs-6 col-xxs" [ngClass]="{'col-rtl': isRtl}">
      <div class="custom">
        <div class="appointment-label" [ngClass]="{'appointment-label-rtl': isRtl, 'appointment-label': !isRtl}">{{'appointment.date' | translate}}</div>
      </div>
    </div>
    <div class="col-xs-6 col-xxs" [ngClass]="{'col-rtl': isRtl}">
      <div class="custom">
        <div class="appointment-data" [ngClass]="{'appointment-data-rtl': isRtl, 'appointment-data': !isRtl}">{{ app.date }}</div>
      </div>
    </div>
  </div>
  <div class="appointment-row">
    <div class="col-xs-6 col-xxs" [ngClass]="{'col-rtl': isRtl}">
      <div class="custom">
        <div class="appointment-label" [ngClass]="{'appointment-label-rtl': isRtl, 'appointment-label': !isRtl}">{{'appointment.time' | translate}}</div>
      </div>
    </div>
    <div class="col-xs-6 col-xxs" [ngClass]="{'col-rtl': isRtl}">
      <div class="custom">
        <div class="appointment-data" [ngClass]="{'appointment-data-rtl': isRtl, 'appointment-data': !isRtl}">{{ app.startTimeFormatted }}</div>
      </div>
    </div>
  </div>
  <div style="clear: both">
  </div>
</div>
</div>
<div class="table-child-footer" >
  <footer class="qm-footer" >
    <div class="center-text" [hidden]="isInvalid">
      <div class="accent-btn custom accent-bg-color btn-text-color" (click)='onArriveAppointment()'>
        {{ 'appointment.arriveBtnText' | translate }}
      </div>
    </div>
    <div class="errorMessage" *ngIf="isInvalid && isInvalidStatus && !isNotFound">    
      <span class="sub-heading-text-2 custom text-color sub-heading-text-2-margin">{{ 'appointment.error.status' | translate }}</span>    
    </div>
    <div class="errorMessage" *ngIf="isInvalid && isInvalidDate && !isInvalidStatus && !isNotFound">    
      <span class="sub-heading-text-2 custom text-color sub-heading-text-2-margin">{{ 'appointment.error.date' | translate }}</span>    
    </div>
    <div class="errorMessage" *ngIf="isEarly && !isInvalidStatus && !isInvalidDate && !isNotFound">    
      <span class="sub-heading-text-2 custom text-color sub-heading-text-2-margin">{{ 'appointment.error.early' | translate }}</span>    
    </div>
    <div class="errorMessage" *ngIf="isLate && !isInvalidStatus && !isInvalidDate && !isNotFound">    
      <span class="sub-heading-text-2 custom text-color sub-heading-text-2-margin">{{ 'appointment.error.late' | translate }}</span>    
    </div>
       <div class="errorMessage" *ngIf="isNotFound">    
      <span class="sub-heading-text-2 custom text-color sub-heading-text-2-margin">{{ 'appointment.error.notFound' | translate }}</span>    
    </div>
  </footer>
</div>
