<div class="bg full-with">
  <div class="qm-cookie-container" [hidden]="!isBrowserSupport">
    <app-cookie-consent-dialog></app-cookie-consent-dialog>
  </div>
  <div class="frame custom logo-bg-color parent-center">
    <img src="/app/resources/qmLogo.png" class="logo custom logo-image child-center"/>
  </div>
  <div [hidden]="!isBrowserSupport">
    <ng-content></ng-content>
  </div>
  <div class="qm-footer custom text-color footer-bg-color" *ngIf="isLogoFooterEnabled">
    <span>{{'footer.text' | translate}}</span>
    <img class="qm-brand-logo custom footer-logo" src="/app/resources/brand_logo.png" alt="brand logo">
  </div>
  <div class="qm-footer custom text-color footer-bg-color footer-custom-text" *ngIf="isCustomFooterEnabled && defautlDir">
    <span>{{'footer.text' | translate}} </span>
    <span  class="custom-text">{{customText}}</span>
  </div>
  <div class="qm-footer custom text-color footer-bg-color footer-custom-text" *ngIf="isCustomFooterEnabled && !defautlDir">
    <span class="custom-text">{{customText}} &#8202;</span>
    <span>{{'footer.text' | translate}} </span>
  </div>
  <div [hidden]="isBrowserSupport">
    <not-support-layout [browserName]='onBrowserNotSupport' [isApplePlatform]='isApplePlatform'></not-support-layout>
  </div>
</div>
<div id="app-bg" class="custom bg-image" [ngClass]="{'not-support-view': !isBrowserSupport}"></div>

