@font-face {font-family: "Roboto-Light";
  src: url("/app/resources/Roboto-Light.ttf");
}

@font-face {font-family: "Roboto-Bold";
  src: url("/app/resources/Roboto-Bold.ttf");
}

@font-face {font-family: "Roboto-Regular";
  src: url("/app/resources/Roboto-Regular.ttf");
}

#app-bg{
  background: url(/app/resources/background.jpg);
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.not-support-view{
  height: 100%;
}

.caption {
  text-align: center;
  font-size: 2em;
  color: #FFFFFF;
}

.center-text {
  text-align: center;
}

.logo-container{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.bg {
  background: transparent !important;
}

.full-with{
  width: 100%;
}

.logo{
  width: 160px;
  max-width: 160px;
  margin: 0 auto;
  /* content: url('/app/resources/qmLogo.png'); */
}

.frame {
  height: 5em;
  text-align: center;
  max-height: 10em;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.qm-footer{
  background: #1a1c34;
  text-align: center;
  bottom: 0;
  min-height: 30px;
  position: fixed;
  width: 100%;
  font-size: 14px;
  word-spacing: 3px;
  margin: 2px 1px;
}
.qm-brand-logo {
  width: 67px;
  vertical-align: text-bottom;
  margin: 4px 3px 0 3px;
  padding: 0 3px;
}
.footer-custom-text {
  padding: 4px;
}
.custom-text {
  margin: 0 3px;
  font-weight: 600;
}

/* Media Queries */
/* Small phones */
@media (max-width: 450px), (max-height: 450px){
  .logo{
    width: 110px;
  }

  .frame {
    height: 4em;
    text-align: center;
    max-height: 10em;
  }
}
