<div class="row">
    <div class="col-xs-12 col-xxs">
        <div class="center-text sub-heading-text-2 custom text-color">
            <span *ngIf="browserName && browserName.length > 0">{{ 'support.not_support_p1' | translate }}{{browserName}}{{ 'support.not_support_p2' | translate }}</span>
            <div *ngIf="!browserName" class="details">
                <span class="info-header">{{ 'ticketInfo.ticketEndHeading' | translate }}</span>
                <span class="info-text">{{ 'support.not_support_create_ticket' | translate }}</span>
            </div>
        </div>
    </div>
</div>