<div>
  <div class="text-center table-child-heading-2">
    <span class="center-text sub-heading-text-2 service-limit-label custom text-color"  [hidden]="!showNetWorkError">
      <app-network-message></app-network-message>
    </span>
  </div>

  <div [hidden]="showNetWorkError">
    <div class="row">
      <app-cutomer-phone (showNetorkErrorEvent)="showHideNetworkError($event)"></app-cutomer-phone>
    </div>
    <div class="row selected-branch">
      <div class="selected-branch-title custom text-color"> {{'customer_info.selectedBranch' | translate}}</div>
      <div class="selected-branch-name custom text-color" *ngIf="selectedBranch"> {{ selectedBranch.name }}</div>
    </div>
    <div class="row selected-service" *ngIf="selectedService && selectedService.name">
      <div class="selected-service-title custom text-color" >  {{'customer_info.selectedService' | translate}} </div>
      <div class="selected-service-name custom text-color">
        {{ selectedService.name }}
      </div>
    </div>
  </div>
</div>
<br> <br>
<div class="table-child-footer" [hidden]="showNetWorkError">
  <footer class="qm-footer">
    <div class="center-text">
      <div class="accent-btn  btn-text-color skip-button" (click)='createVisit()'>
        {{ 'customer_info.skipAndGetInLine' | translate }}
      </div>
    </div>
  </footer>
</div>