.selected-branch{
    text-align: center;
    color: white;
}
.selected-branch-title {
    margin: 30px 0 0 10px;
    font-size: 16px;
}
.selected-branch-name {
    font-size: 24px;
}
.selected-service {
    text-align: center;
    color: white;
}
.selected-service-title {
    margin: 30px 0 0 10px;
    font-size: 16px;
}
.selected-service-name {
    font-size: 24px;
}
.skip-button{
    background: none;
    line-height: 1.5em;
}
.skip-button:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}