<div>
  <div class="text-center table-child-heading-2" [hidden]="!showNetWorkError">
    <span class="center-text sub-heading-text-2 service-limit-label custom text-color">
      <app-network-message></app-network-message>
    </span>
  </div>

  <div>
    <div class="row">
      <app-cutomer-phone></app-cutomer-phone>
    </div>
    <div class="row selected-branch">
      <div class="selected-branch-title custom text-color"> {{'customer_info.selectedBranch' | translate}}</div>
      <div class="selected-branch-name custom text-color" *ngIf="selectedBranch"> {{ selectedBranch.name }}</div>
    </div>
    <div class="row selected-service">
      <div class="selected-service-title custom text-color">  {{'customer_info.selectedService' | translate}} </div>
      <div class="selected-service-name custom text-color" *ngIf="selectedService">
        {{ selectedService.name }}
      </div>
    </div>
  </div>
</div>